<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fullstack Party</title>
  </head>
  <body>
    <form action="{{ path_for('login') }}" method="post">
      <button type="submit">Login with Github</button>
    </form>
  </body>
</html>
